#gamefield{
    margin: 3% 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    height: 600px;

    border: 1px solid black;
    border-collapse: collapse;

    cursor: crosshair;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}


.field {
    color: black;
    background-color: lightgray;
    overflow: hidden;
    height: calc(600px/7);
    width: calc(600px/7);

    font-size: xx-large;
    margin: 0;
    padding: 0;
}

.rectangleSizeNumber{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.disable-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drawableRectangle{
    z-index: 5;
    border: 2px solid black;
    position: absolute;
}

[v-cloak]{
    display: none;
}

@media screen and (max-width: 400px){
    /* not working well */
    table{
        overflow-x: auto;
        display: block;
    }
}
