body {
    height: 100%;
    background-color: #1d293d;
    /*background: #f9fbfe;*/
    color: rgba(255,255,255,0.75);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}