
body {
    align: center;
    justify-content: center;
    /*background-color:aquamarine;*/
}

.jumbotron{
    background-color: aqua;

}

.dropdown{
    text-align: center;
}

nav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.page-header{
    color: white;
}


#wrapper{
    display: block;
    width: 100%;
    
}
/*canvas*/
#background{
    background-color: #2E3F5E; 
    top: 0;
    z-index: 1;
    position: fixed; 
    /*display: block; 
    width: 100%;
    height: 100%;
    resize verursacht Probleme!!
    */
}

#contentWrapper{
    position: relative;
    z-index: 2;
    
}

