<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="mastermind.css">
    <link rel="stylesheet" href="../../navStyle.css">


</head>
<body>

<nav id="nav" class="navbar navbar-inverse navbar-static-top bg-primary" role="navigation" style="margin: 0">
    <!---margin wenn möglich in css datei -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav  nav-pills">
                <li><a href="../../index.html">{{home}}</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"
                       href="about.php">{{games}}
                        <span class="caret"></span> </a>
                    <ul class="dropdown-menu navbar-inverse navbar-static-top">
                        <li v-for="item in gameItems"><a v-bind:href="item.url">{{ item.game }}</a></li>

                    </ul>
                </li>
                <li><a href="contact.php">{{contact}}</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        <h1>Mastermind
        </h1>
    </div>
    <main>
        <div id="buttons">
            <div class="buttonrow" v-for="row in rows">

                <button v-for="column in row.columns" v-on:click="changeColor(column)"
                        v-bind:style="{'background-color': column.color}" :disabled="row.disabled" class="b1 btn btn-default btn-circle btn-lg "   >
                </button>

                <svg  width="50" height="50" xmlns="http://www.w3.org/2000/svg" v-on:click="(row.disabled ? null : logic())" >

                        <circle v-for="circle in row.svg" v-bind:style="{'fill': circle.color, 'cx': circle.pos.cx, 'cy': circle.pos.cy}" r="10"  stroke="#B6B6B4" stroke-width="1"></circle>


                </svg>

            </div>
        </div>

        <div id="line"></div>
        <div id="result">
            <div class="resultbuttonrow">
                <button v-for="column in row.columns" v-bind:style=" {'background-color': ( solved ? column.color : 'black' )}"
                        class="btn btn-default btn-circle btn-lg">
                </button>
            </div>
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!---<script src="https://unpkg.com/vue"></script> <!---VUE.JS online--->
<script src="../../js/vue.js"></script> <!---VUE.JS--->
<script src="mastermind.js"></script>
<script src="../../nav.js"></script>
</body>
</html>
