#colorPanel {
    overflow: auto;

    margin-top: 5px;
    padding: 5px;
    background-color: #eeeeee;
    border: 3px solid #656565;
    border-radius: 5px;
}

.colorDiv {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 5px;
    float: left;
    cursor: pointer;
}

.isSelected {
    border: 3px solid #656565;
}
