.wrapper {
    margin: auto;
    box-shadow: 10px 10px 30px #AAA;
}

.centerBox {
    display: flex;
    justify-content: center;
}

.colorPanel {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 5px;
    background-color: #eeeeee;
    border: 3px solid #656565;
    border-radius: 5px;
}

.colorDiv {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.modal-content {
    color: #000;
}

.settingsColorPanel {
    display: flex;
    flex-direction: row;
}

#sizeRangeslider {
    width: 50%;
}

.isSelected {
    border: 3px solid #656565;
}

#colorSelectionWarning {
    margin-left: 5px;
    color: red;
}