.wrapper {
    height: auto;
    width: auto;
    background-color: #eeeeee;
}

table {
    border-collapse: collapse;
    border: 3px solid #656565;
}

td {
    height: 60px;
    width: 60px;
}

.field {
    height: 50px;
    width: 50px;
    margin: 5px;
    cursor: pointer;
}

.none {
    border-radius: 5px;
}

.oneLeft {
    width: 55px;
    margin: 0 0 0 0;
    border-radius: 0 5px 5px 0;
}

.oneRight {
    width: 55px;
    margin: 0 -5px 0 5px;
    border-radius: 5px 0 0 5px;
}

.oneTop {
    height: 55px;
    margin: -5px 0 0 5px;
    border-radius: 0 0 5px 5px;
}

.oneBottom {
    height: 55px;
    margin: 0 0 -5px 5px;
    border-radius: 5px 5px 0 0;
}

.twoLeftTop {
    height: 55px;
    width: 55px;
    margin: -5px 0 0 0;
    border-radius: 0 0 5px 0;
}

.twoLeftRight {
    width: 60px;
    margin: 0 -5px 0 0;
}

.twoLeftBottom {
    height: 55px;
    width: 55px;
    margin: 0 0 -5px 0;
    border-radius: 0 5px 0 0;
}

.twoRightTop {
    height: 55px;
    width: 55px;
    margin: -5px -5px 0 5px;
    border-radius: 0 0 0 5px;
}

.twoRightBottom {
    height: 55px;
    width: 55px;
    margin: 0 -5px -5px 5px;
    border-radius: 5px 0 0 0;
}

.twoTopBottom {
    height: 60px;
    margin: -5px 0 -5px 5px;
}

.threeNoneLeft {
    height: 60px;
    width: 55px;
    margin: -5px -5px -5px 5px;
}

.threeNoneRight {
    height: 60px;
    width: 55px;
    margin: -5px 0 -5px 0;
}

.threeNoneTop {
    height: 55px;
    width: 60px;
    margin: 0 -5px -5px 0;
}

.threeNoneBottom {
    height: 55px;
    width: 60px;
    margin: -5px -5px 0 0;
}

.four {
    height: 60px;
    width: 60px;
    margin: -5px -5px -5px 0;
}

.cornerLeftTop {
    background:
        radial-gradient(circle at 0 0, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornerLeftBottom {
    background:
        radial-gradient(circle at 0 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornerRightTop {
    background:
        radial-gradient(circle at 100% 0, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornerRightBottom {
    background:
        radial-gradient(circle at 100% 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersLeft {
    background:
        radial-gradient(circle at 0 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 0 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersRight {
    background:
        radial-gradient(circle at 100% 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersTop {
    background:
        radial-gradient(circle at 0 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 0, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersBottom {
    background:
        radial-gradient(circle at 0 100%, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersMainDiagonal {
    background:
        radial-gradient(circle at 0 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersSecondDiagonal {
    background:
        radial-gradient(circle at 0 100%, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 0, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersNoneLeftTop {
    background:
        radial-gradient(circle at 0 100%, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersNoneLeftBottom {
    background:
        radial-gradient(circle at 0 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersNoneRightTop {
    background:
        radial-gradient(circle at 0 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 0 100%, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersNoneRightBottom {
    background:
        radial-gradient(circle at 0 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 0 100%, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 0, #EDEDED 5px, rgba(0,0,0,0) 5px);
}

.cornersAll {
    background:
        radial-gradient(circle at 0 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 0 100%, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 0, #EDEDED 5px, rgba(0,0,0,0) 5px),
        radial-gradient(circle at 100% 100%, #EDEDED 5px, rgba(0,0,0,0) 5px);
}