body {
    background-color: rgba(26, 216, 83, .8);
}

#timeCount{
    background-color: rgb(255, 107, 102);
    height: 50px;
    width: 50px;
    padding: 15px;
}

#flags{
    background-color: rgb(255, 107, 102);
    height: 50px;
    width: 50px;
    padding: 15px;
}

#minesweeper {
}

#tableHead {
    height: 100px;
    width: 500px;
}

#table {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    opacity: 1;
}

button {
    height: 55px;
    width: 55px;
}

.unclickedButton{
    /* leichter 3D Effekt durch Schatten */
    -webkit-box-shadow: 0 6px 0 #2b638f, 0 3px 15px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 6px 0 #2b638f, 0 3px 15px rgba(0, 0, 0, .4);
    box-shadow: 0 6px 0 #2b638f, 0 3px 15px rgba(0, 0, 0, .4);
}

#minesweeper {
    margin: 8% 40%;
}