body {
    background-color: rgba(152, 232, 234, .8);
}

/* Anzeigen für Minesweeper ( Flaggen & abgelaufene Zeit )  */
#displayParent{
    width: 99%;
    height: 200px;

    margin: 6% 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#timeCount{
    /* Dadurch kann Text nicht markiert werden */
    -webkit-user-select: none; /* Safari, iOS, and Android */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    background-color: rgb(255, 107, 102);
    height: 50px;
    width: 50px;
    border: 2px solid #6b706b;
    margin: 0 7.5% 0 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    float: right;
}

#flags{
    -webkit-user-select: none; /* Safari, iOS, and Android */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    background-color: rgb(255, 107, 102);
    height: 50px;
    width: 50px;
    border: 2px solid #6b706b;
    margin: 0 40% 0 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    float: left;
}

#restartButton{

}
/*  */

#minesweeper {
    margin: -2% 40% 8% 20%;

}

#table {
    height: 500px;
    width: 500px;
    background-color: gray;
    border: 3px solid black;
    border-bottom: 9px solid black;
}

button {

    height: 55px;
    width: 55px;
}

.unclickedButton{
    background: #888993;

    /* leichter 3D Effekt */
    -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.clickedButton{
    background-color: #c0c1cb;
}



/* versteckt nicht kompilierte Vue Bindings */
[v-cloak] > * {
    display: none;
}
[v-cloak]::before {
    content:"loading...";
}