<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Flood</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/stylenew.css">
    <link rel="stylesheet" href="flood.css">

</head>
<body>

    <div class="wrapper" id="flood">
        <table>
            <tr v-for="row in rows">
                <td v-for="column in row.columns">
                    <div v-on:click="changeColor(column)" class="field" v-bind:class="column.borderStyleClass" v-bind:style="{'background-color': column.color}"></div>
                </td>
                <!-- <td v-for="column in row.columns" v-on:click="changeColor(column)" v-bind:class="[column.borderStyleClass]" v-bind:style="{'background-color': column.color}"></td> -->
            </tr>
        </table>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="flood.js"></script>

</body>
</html>