<!DOCTYPE html>
<html lang="de" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flood</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/stylenew.css">
    <link rel="stylesheet" href="flood.css">

</head>
<body>

    <div class="content" id="flood">
        <div>
            {{moves}}/{{maxMoves}}
            <button v-on:click="restart">Neustart</button>
            <button v-on:click="initialize">Neues Spiel</button>
            <button>Einstellungen</button>
        </div>
        <div class="wrapper">
            <table>
                <tr v-for="row in rows">
                    <td v-for="column in row.columns">
                        <div v-on:click="changeColor(column.color)" class="field" v-bind:class="column.borderStyleClass" v-bind:style="{'background-color': column.color}"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="colorPanel">
            <div v-for="color in colors" v-on:click="changeColor(color.color)" class="colorDiv" v-bind:style="{'background-color': color.color}"></div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="flood.js"></script>

</body>
</html>