#sudokuField{
    margin: 2% 0 0 2%;
}
/* rows */
tr:first-child {
    border-top:solid;
}
/* 3n -> for 3,6,9 row */
tr:nth-child(3n) td {
    border-bottom:solid ;
}
/* columns per row */
td:first-child {
    border-left:solid;
}
td:nth-child(3n) {
    border-right:solid ;
}
.field {
    height : 50px;
    width: 50px;
    border: 1px solid;

    text-align: center;
    font-size: x-large;
    caret-color: transparent; /* wrong warning message */
}
.noSelect {
    /* text nicht markierbar (doesnt work for chrome.. ?!)*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, iOS, and Android */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}