*{
    margin: 0;
    padding: 0;
}

#wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#game{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FD5061;
}